/* import for the google font*/
@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Contrail One, sans-serif;
    font-weight: 250;
    color: black;
}

/*headings and logo*/

h1, h2 {
    font-family: Contrail One, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #ff1a75;
}

#logo {
    text-align: center;
    font-size: 500%;
    margin-top: 5px;
    text-decoration: none;
    margin-bottom: 5px;
}

#menu {
    font-size: 125%;
    text-align: center;
    margin-top: 5px;
    line-height: 25px;
}

#menu li {
    list-style-type: none;
    display: block;
    float: none;
    text-transform: uppercase;
    margin: none;
}

#menu a {
    text-decoration: none;
    color: #ff1a75;
}

#menu a:hover {
    text-decoration: underline wavy #ff1a75;
}

a {
    text-decoration: none;
}

/* Hero image and background*/
body {
    background-color: #000;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cover-text, #cover-text h2{
    color: white;
    letter-spacing: normal;
    text-transform: none;
}

#hero-image {
    height: 850px;
    width: 100%;
    background: url('../images/background1.jpg');
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-outer {
    height: 850px;
    width: 100%;
    overflow: auto;
    position: relative;
}