/* import for the google font*/
@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Contrail One, sans-serif;
    font-weight: 250;
    color: black;
}

/*headings and logo*/

h1, h2 {
    font-family: Contrail One, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #ff1a75;
}

#logo {
    text-align: center;
    font-size: 500%;
    margin-top: 5px;
    text-decoration: none;
    margin-bottom: 5px;
}

#menu {
    font-size: 125%;
    text-align: center;
    margin-top: 5px;
    line-height: 25px;
}

#menu li {
    list-style-type: none;
    display: block;
    float: none;
    text-transform: uppercase;
    margin: none;
}

#menu a {
    text-decoration: none;
    color: #ff1a75;
}

#menu a:hover {
    text-decoration: underline wavy #ff1a75;
}

a {
    text-decoration: none;
}

/* Hero image and background*/
body {
    background-color: #000;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cover-text, #cover-text h2{
    color: white;
    letter-spacing: normal;
    text-transform: none;
}

#hero-image {
    height: 850px;
    width: 100%;
    background: url('../images/background1.jpg');
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-outer {
    height: 850px;
    width: 100%;
    overflow: auto;
    position: relative;
}

/*fstvl about sections*/

.fstvl-content{
    display: inline-block;
    color: white;
    background-color: red;
    width: 33%;
    float: none;
}

#parklife-landscape{
    color: white;
    width: 99%;
    background-color: green;
    float: none;
    margin: 0% 0.5%;
}

/*footer and social links*/

footer {
    height: 150px;
}

.social-links{
    text-align: center;
}

.social-links > li{
    display: inline;
    height: 75px;
}

.social-links i{
    font-size: 175%;
    margin: 2%;
    padding: 5%;
    color:#ff1a75;
}

/* Sign up form*/

.form-image{
    position: relative;
    height: 100%;
    width:100%;
}

.form-image::before{
    content: "";
    background-image: url('../images/background3.jpg');
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.25;
}

.form-section{
    clear: left;
    height:900px;
}

.signup-form{
    margin: 150px 10% 0 0;
    color: #fff;
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form > h2{
    color: #fff;
    margin-bottom: 15px;
    position: relative;
}

.text-input{
    background: transparent;
    color: #fff;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 2.5px solid #fff;
    border-radius: 2px;
}

.text-input:hover{
    border-color: #ff1a75;
}

.join-button{
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #ff1a75;
    color: #fafafa;
    display: block;
}

.join-button:hover{
    background-color: #fafafa;
    color: #ff1a75;
}

